RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Jangan terapkan rewrite jika file atau direktori sudah ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite rule: Tambahkan .php secara internal
RewriteRule ^([^\.]+)$ $1.php [L]